---
title: "The Job Forum"
browser_title: " "
layout: splash
classes:
  - landing


feature_row_TJF1:
  - image_path: assets/images/TJF/TJF1.jpg
    title: "Episode 1 - Insurance"
    excerpt: "Insurance broker Meena Barikzi talks about her journey through the actuarial science degree, her current job, and insurance industry trends."
    url: " "
    btn_label: "Listen on Spotify"
    btn_class: "btn--primary"
feature_row_TJF2:
  - image_path: /assets/images/TJF/TJF2.jpg
    title: "Episode 2 - Casino Analytics"
    excerpt: "Slot analyst Christian Cordova talks about his time at UNLV as a math major and his journey into his current role."
    url: " "
    btn_label: "Listen on Spotify"
    btn_class: "btn--primary"
feature_row_TJF3:
  - image_path: assets/images/TJF/TJF3.jpg
    title: "Episode 3 - Electrical Engineering"
    excerpt: " "
    url: " "
    btn_label: "Listen on Spotify"
    btn_class: "btn--primary"
feature_row_TJF4:
  - image_path: /assets/images/TJF/TJF4.jpg
    title: "Episode 4 - Civil Engineering"
    excerpt: " "
    url: " "
    btn_label: "Listen on Spotify"
    btn_class: "btn--primary"
feature_row_TJF5:
  - image_path: assets/images/TJF/TJF5.jpg
    title: "Episode 5 - Photography"
    excerpt: " "
    url: " "
    btn_label: "Listen on Spotify"
    btn_class: "btn--primary"

---
<br>
<h1 style="margin-bottom: 0"> <center> THE JOB FORUM </center> </h1>
<h3 style="margin-top: 0"> <center> Recent graduates' journies through college and into the workforce <center> </h3>
<hr>
  
{% include feature_row id="feature_row_TJF5" type="right" %}
{% include feature_row id="feature_row_TJF4" type="left" %}
{% include feature_row id="feature_row_TJF3" type="right" %}
{% include feature_row id="feature_row_TJF2" type="left" %}
{% include feature_row id="feature_row_TJF1" type="right" %}


