---
title: "The Job Forum"
browser_title: " "
layout: splash
classes:
  - landing


feature_row_TJF1:
  - image_path: assets/images/TJF/TJF1.jpg
    title: "Episode 1 - Insurance"
    excerpt: "The insurance industry is starving for talent! Insurance broker Meena Barikzi talks about her journey through the actuarial science degree, her current job, and insurance industry trends. UNLV student Timothy Ryu joined us to ask questions, share his experiences, and seek advice."
    url: "https://open.spotify.com/episode/4zGTXydjCSgeDEsE6sUcmI?si=cirjYivTTKGF51j6IBPVAg"
    btn_label: "Listen on Spotify"
    btn_class: "btn--primary"
feature_row_TJF2:
  - image_path: /assets/images/TJF/TJF2.jpg
    title: "Episode 6 - Religious Mission"
    excerpt: "New accounting intern Mason Molina talks about his unorthodox journey post-graduation. Instead of getting a job like everyone else, he served a mission, where he learned more than he ever could have imagined."
    url: " "
    btn_label: "Coming Soon"
    btn_class: "btn--primary"
feature_row_TJF3:
  - image_path: /assets/images/TJF/TJF3.jpg
    title: "Episode 3 - Casino Analytics"
    excerpt: "Slot analyst Christian Cordova talks about his time at UNLV as a math major and his struggle to find a job during the COVID pandemic. He shares his amazing personal and professional transformation story, his journey into his current role, and what his day-to-day looks like."
    url: "https://open.spotify.com/episode/5IxuwiLnafKnDGREctTLj4?si=c6bc016131e943fc"
    btn_label: "Listen on Spotify"
    btn_class: "btn--primary"
feature_row_TJF4
  - image_path: assets/images/TJF/TJF4.jpg
    title: "Episode 4 - Mechanical Engineering"
    excerpt: "Josh Kelley, a plant engineer for NV Energy, joins me to talk about his experience as an engineering major. He gives great advice to aspiring engineers and highlights the importance of networking and soft skills, even for very technical jobs."
    url: "https://open.spotify.com/episode/4CDxpVXHZK1NkFv44tlaWE?si=ad646e6e83b04ade"
    btn_label: "Listen on Spotify"
    btn_class: "btn--primary"
feature_row_TJF5:
  - image_path: assets/images/TJF/TJF5.jpg
    title: "Episode 5 - Photography"
    excerpt: "Jen Funderburk is a professional photographer who shared her amazing story of getting through school, discovering her passion, and creating a her own business out of it. Her story is inspiring and she serves as a great example of pivoting, following your passions, and creating something lucrative out of them."
    url: "https://open.spotify.com/episode/7uvacHlFsIBDvUYgJiyjK9?si=54a836fed1d645f5"
    btn_label: "Listen on Spotify"
    btn_class: "btn--primary"
feature_row_TJF6:
  - image_path: /assets/images/TJF/TJF6.jpg
    title: "Episode 2 - Civil Engineering"
    excerpt: "Andy Cline, a local civil engineer, came through to talk about his long battle with the engineering degree, his experience in the workforce, the engineering exam process, and what his typical day looks like. He gives great advice for those who are still in school, those who are looking for a job, as well as those who are just starting their careers."
    url: "https://open.spotify.com/episode/6un8E8YC8TNFuWwU1a6hii?si=ec91b236e1644df5"
    btn_label: "Listen on Spotify"
    btn_class: "btn--primary"
feature_row_TJF7:
  - image_path: assets/images/TJF/TJF7.jpg
    title: "Episode 7 - Postdoc Researcher"
    excerpt: "Earning a PhD is a huge milestone as a student. Kasra Ghararian, a postdoctoral research fellow at the International Gaming Institute at UNLV, stopped by to talk about his experience navigating academia and to give great advice to the next generation of scholars."
    url: "https://open.spotify.com/episode/4zGTXydjCSgeDEsE6sUcmI?si=cirjYivTTKGF51j6IBPVAg"
    btn_label: "Listen on Spotify"
    btn_class: "btn--primary"
feature_row_TJF8:
  - image_path: /assets/images/TJF/TJF8.jpg
    title: "Episode 8 - Computer Science"
    excerpt: "Luis Castañeda is a self-made computer science whiz. He dropped in to talk about his experience getting his undergrad in computer science and what he did with it."
    url: "https://open.spotify.com/episode/05ntycem6cWNDy4a0SI0YX?si=5d037e8d651e464e"
    btn_label: "Listen on Spotify"
    btn_class: "btn--primary"
feature_row_TJF9:
  - image_path: /assets/images/TJF/TJF9.jpg
    title: "Episode 9 - Aviation"
    excerpt: "Chase Norberg is a private jet pilot and Radek Fritz is an aviation student, both of whom work at Thrive Aviation in Las Vegas, NV. They talk about their journeys getting their pilot licensure, comparing and contrasting the private route and the university route."
    url: "https://open.spotify.com/episode/389glxEDbwmJziGYGs7BLd?si=8a05ab61278a4812"
    btn_label: "Listen on Spotify"
    btn_class: "btn--primary"
feature_row_TJF10:
  - image_path: assets/images/TJF/TJF10.jpg
    title: "Episode 10 - Culinary"
    excerpt: "Sloan Lopez embodies passion for the culinary arts. He shares his journey through school, where he compares community college with university. He also gives great advice for students in the form of 'I wish I would have...'."
    url: "https://open.spotify.com/episode/4VtawK5snYtfq4GHkDFkKK?si=76f928ebe2614b02"
    btn_label: "Listen on Spotify"
    btn_class: "btn--primary"
feature_row_TJF11:
  - image_path: assets/images/TJF/TJF11.jpg
    title: "Episode 11 - Financial Analyst"
    excerpt: "Ali Salman came all the way down from Utah to talk about his experience going through school and landing the job at Goldman Sachs."
    url: " "
    btn_label: "Coming Soon"
    btn_class: "btn--primary"
feature_row_TJF12:
  - image_path: /assets/images/TJF/TJF12.jpg
    title: "Episode 12 - Sports Insurance"
    excerpt: "Scott Barr is an insurance prodigy. He talks about going through school and his rapid journey up the ranks in the insurance industry, giving great advice to students along the way."
    url: " "
    btn_label: "Coming Soon"
    btn_class: "btn--primary"
feature_row_TJF13:
  - image_path: assets/images/TJF/TJF13.jpg
    title: "Episode 13 - Events Management"
    excerpt: "After getting a rich educational experience at UNLV, events manager Emily Thompson takes on the Las Vegas Strip. She talks about her experience at UNLV as well as her current role at the Westin. "
    url: " "
    btn_label: "Coming Soon"
    btn_class: "btn--primary"
feature_row_TJF14:
  - image_path: /assets/images/TJF/TJF14.jpg
    title: "Episode 14 - Physics (Spain)"
    excerpt: "Jan Nogue is a quantum engineer at Qilimanjaro in Barcelona, Spain. He talked about going through university in a different country and getting his current role at one of the top companies in the quantum space."
    url: " "
    btn_label: "Coming Soon"
    btn_class: "btn--primary"
feature_row_TJF15:
  - image_path: /assets/images/TJF/TJF15.jpg
    title: "Episode 14 - Product Analyst"
    excerpt: " "
    url: " "
    btn_label: "Coming Soon"
    btn_class: "btn--primary"
---

<br>
<h1 style="margin-bottom: 0"> <center> THE JOB FORUM </center> </h1>
<h3 style="margin-top: 0"> <center> Recent graduates' journies through college and into the workforce <center> </h3>
<hr>
<br>
  
{% include feature_row id="feature_row_TJF1" type="left" %}
{% include feature_row id="feature_row_TJF6" type="right" %}
{% include feature_row id="feature_row_TJF3" type="left" %}
{% include feature_row id="feature_row_TJF4" type="right" %}
{% include feature_row id="feature_row_TJF5" type="left" %}
{% include feature_row id="feature_row_TJF2" type="right" %}
{% include feature_row id="feature_row_TJF7" type="left" %}
{% include feature_row id="feature_row_TJF8" type="right" %}
{% include feature_row id="feature_row_TJF9" type="left" %}
{% include feature_row id="feature_row_TJF10" type="right" %}
{% include feature_row id="feature_row_TJF11" type="left" %}
{% include feature_row id="feature_row_TJF12" type="right" %}
{% include feature_row id="feature_row_TJF13" type="left" %}
{% include feature_row id="feature_row_TJF14" type="right" %}
{% include feature_row id="feature_row_TJF15" type="left" %}

