---
title: "The Job Forum"
browser_title: " "
layout: splash
classes:
  - landing


feature_row_TJE1:
  - image_path: assets/images/phdblog-cover.jpg
    title: "Episode 1 - Insurance"
    excerpt: "Insurance broker Meena Barikzi talks about her journey through the actuarial science degree, her current job, and insurance industry trends."
    url: " "
    btn_label: "Listen on Spotify"
    btn_class: "btn--primary"
feature_row_TJE2:
  - image_path: /assets/images/barcapic.jpg
    title: "Episode 2 - Casino Analytics"
    excerpt: "Slot analyst Christian Cordova talks about his time at UNLV as a math major and his journey into his current role."
    url: " "
    btn_label: "Listen on Spotify"
    btn_class: "btn--primary"
feature_row_TJE3:
  - image_path: assets/images/phdblog-cover.jpg
    title: "Episode 3 - Electrical Engineering"
    excerpt: " "
    url: " "
    btn_label: "Listen on Spotify"
    btn_class: "btn--primary"
feature_row_TJE4:
  - image_path: /assets/images/barcapic.jpg
    title: "Episode 4 - Civil Engineering"
    excerpt: " "
    url: " "
    btn_label: "Listen on Spotify"
    btn_class: "btn--primary"
feature_row_TJE5:
  - image_path: assets/images/phdblog-cover.jpg
    title: "Episode 5 - Photography"
    excerpt: " "
    url: " "
    btn_label: "Listen on Spotify"
    btn_class: "btn--primary"

---
<h1 style="margin-bottom: 0"> <center> THE JOB FORUM </center> </h1>
<h3 style="margin-top: 0"> <center> Recent graduates' journies through college and into the workforce <center> </h3>
<br>
  
{% include feature_row id="feature_row_TJE5" type="right" %}
{% include feature_row id="feature_row_TJE4" type="left" %}
{% include feature_row id="feature_row_TJE3" type="right" %}
{% include feature_row id="feature_row_TJE2" type="left" %}
{% include feature_row id="feature_row_TJE1" type="right" %}


