---
author_profile: false
gallery_hawkes:
  - image_path: gallery/assets/images/hawkes1.jpg
  - image_path: gallery/assets/images/hawkes2.jpg
  - image_path: gallery/assets/images/hawkes3.jpg
gallery_WCHRIE23:
  - image_path: gallery/assets/images/WCHRIE23-1.jpg
  - image_path: gallery/assets/images/WCHRIE23-2.jpg
  - image_path: gallery/assets/images/WCHRIE23-3.jpg
gallery_abruzzo:
  - image_path: gallery/assets/images/abruzzo1.jpg
  - image_path: gallery/assets/images/abruzzo2.jpg
  - image_path: gallery/assets/images/abruzzo3.jpg
gallery_HItour:
  - image_path: gallery/assets/images/HItour1.jpg
  - image_path: gallery/assets/images/HItour2.jpg
  - image_path: gallery/assets/images/HItour3.jpg
gallery_KUNV:
  - image_path: gallery/assets/images/KUNV1.jpg
  - image_path: gallery/assets/images/KUNV2.jpg
  - image_path: gallery/assets/images/KUNV3.jpg
gallery_makerspace:
  - image_path: gallery/assets/images/makerspace1.jpg
  - image_path: gallery/assets/images/makerspace2.jpg
  - image_path: gallery/assets/images/makerspace3.jpg
gallery_RGS22:
  - image_path: gallery/assets/images/RGS22-1.jpg
  - image_path: gallery/assets/images/RGS22-2.jpg
  - image_path: gallery/assets/images/RGS22-3.jpg
gallery_g2e22:
  - image_path: gallery/assets/images/g2e22_1.jpg
  - image_path: gallery/assets/images/g2e22_2.jpg
  - image_path: gallery/assets/images/g2e22_3.jpg
gallery_menus22:
  - image_path: gallery/assets/images/menus22_1.jpg
  - image_path: gallery/assets/images/menus22_2.jpg
  - image_path: gallery/assets/images/menus22_3.jpg
gallery_unlvtasting:
  - image_path: gallery/assets/images/unlvtasting1.jpg
  - image_path: gallery/assets/images/unlvtasting2.jpg
  - image_path: gallery/assets/images/unlvtasting3.jpg
gallery_soccerclub:
  - image_path: gallery/assets/images/soccerclub1.jpg
  - image_path: gallery/assets/images/soccerclub2.jpg
  - image_path: gallery/assets/images/soccerclub3.jpg
gallery_babaevent:
  - image_path: gallery/assets/images/wineevent1.jpg
  - image_path: gallery/assets/images/wineevent2.jpg
  - image_path: gallery/assets/images/wineevent3.jpg
gallery_CSP2020:
  - image_path: gallery/assets/images/CSPpic1.jpg
  - image_path: gallery/assets/images/CSPpic2.jpg
  - image_path: gallery/assets/images/CSPpic3.jpg
gallery_RIMSgala:
  - image_path: gallery/assets/images/RIMSgala1.jpg
  - image_path: gallery/assets/images/RIMSgala2.jpg
  - image_path: gallery/assets/images/RIMSgala3.jpg
gallery_RIMS:
  - image_path: gallery/assets/images/RIMSpic1.jpg
  - image_path: gallery/assets/images/RIMSpic2.jpg
  - image_path: gallery/assets/images/RIMSpic3.jpg
gallery_CDF23:
  - image_path: gallery/assets/images/CDF23-1.jpg
  - image_path: gallery/assets/images/CDF23-2.jpg
  - image_path: gallery/assets/images/CDF23-3.jpg
gallery_sports:
  - image_path: gallery/assets/images/sports1.jpg
  - image_path: gallery/assets/images/sports2.jpg
  - image_path: gallery/assets/images/sports3.jpg
gallery_gradforum:
  - image_path: gallery/assets/images/gradforum1.jpg
  - image_path: gallery/assets/images/gradforum2.jpg
  - image_path: gallery/assets/images/gradforum3.jpg
gallery_mentor:
  - image_path: gallery/assets/images/mentor1.jpg
  - image_path: gallery/assets/images/mentor2.jpg
  - image_path: gallery/assets/images/mentor3.jpg
gallery_TP23:
  - image_path: gallery/assets/images/TP23-1.jpg
  - image_path: gallery/assets/images/TP23-2.jpg
  - image_path: gallery/assets/images/TP23-3.jpg
gallery_ICGRT:
  - image_path: gallery/assets/images/ICGRT1.jpg
  - image_path: gallery/assets/images/ICGRT2.jpg
  - image_path: gallery/assets/images/ICGRT3.jpg
gallery_breda:
  - image_path: gallery/assets/images/breda1.jpg
  - image_path: gallery/assets/images/breda2.jpg
  - image_path: gallery/assets/images/breda3.jpg
gallery_italy:
  - image_path: gallery/assets/images/italy1.jpg
  - image_path: gallery/assets/images/italy2.jpg
  - image_path: gallery/assets/images/italy3.jpg
gallery_sardinia:
  - image_path: gallery/assets/images/sardinia1.jpg
  - image_path: gallery/assets/images/sardinia2.jpg
  - image_path: gallery/assets/images/sardinia3.jpg
gallery_bordeaux:
  - image_path: gallery/assets/images/bordeaux1.jpg
  - image_path: gallery/assets/images/bordeaux2.jpg
  - image_path: gallery/assets/images/bordeaux3.jpg
---

<html>
  <head>
    <style>
      h1 {text-align: center;}
      h3 {text-align: center;}
      h6 {text-align: center;}
    </style>
  </head>
  <h1> Gallery </h1>
    <h3> Chateaux Malartic-Lagraviere </h3>
      <h6> Bordeaux, France - June 23, 2023 </h6>
        {% include gallery id='gallery_bordeaux' caption='I was invited to tour a Grand Cru Classe chateaux in Graves.' %}
  <hr>
    <h3> Sella e Mosca </h3>
      <h6> Alghero, Italy - June 13, 2023 </h6>
        {% include gallery id='gallery_sardinia' caption='I toured one of the biggest wineries in all of Europe.' %}
  <hr>
    <h3> IB 787 (International Seminar) </h3>
      <h6> Northern Italy - June 4-11, 2023 </h6>
        {% include gallery id='gallery_italy' caption='I went to Italy with the UNLV MBA program, where we learned about sustaibility in Italy.' %}
  <hr>
    <h3> Breda University of Applied Sciences </h3>
      <h6> Breda, Netherlands - June 1-3, 2023 </h6>
        {% include gallery id='gallery_breda' caption='I toured BUAS, where I attended a conference, toured labs, and learned about innovative approaches to teaching.' %}
  <hr>
    <h3> International Conference on Gambling and Risk Taking </h3>
      <h6> Park MGM Las Vegas - May 23-25, 2023 </h6>
        {% include gallery id='gallery_ICGRT' caption='I presented some of the payments-related data that I have been working on with one of my mentors, Kasra.' %}
  <hr>
    <h3> 2023 Tipping Point Benefit </h3>
      <h6> San Francisco, CA - May 4, 2023 </h6>
        {% include gallery id='gallery_TP23' caption='I was invited to attend the Tipping Point Benefit in San Francisco.' %}
  <hr>
    <h3> UNLV Hospitality Mentorship Closing Ceremony </h3>
      <h6> Caesar's Palace Las Vegas - May 3, 2023 </h6>
        {% include gallery id='gallery_mentor' caption='I was selected to share my mentorship experience with students and industry professionals.' %}
  <hr>
  <h3> UNLV Graduate Research Forum </h3>
      <h6> University of Nevada, Las Vegas - April 15, 2023 </h6>
        {% include gallery id='gallery_gradforum' caption='I presented my research on teaching statistics at the graduate student research forum.' %}
  <hr>
  <h3> 26th Annual Educational Taste of Excellence </h3>
      <h6> Westgate Las Vegas - March 25, 2023 </h6>
        {% include gallery id='gallery_CDF23' caption='I served as the operations manager for a wine tasting event of 1000 attendees, raising over $100k for scholarships.' %}
  <hr>
  <h3> Hawkes Teaching Summit </h3>
      <h6> Virtual - March 17, 2023 </h6>
        {% include gallery id='gallery_hawkes' caption='I presented my research on teaching statistics to hospitality students at the Hawkes Teaching Summit.' %}
  <hr>
  <h3> West Federation CHRIE </h3>
      <h6> University of Nevada, Las Vegas - February 16-18, 2023 </h6>
        {% include gallery id='gallery_WCHRIE23' caption='I presented my research in poster form and won best poster.' %}
  <hr>
  <h3> Montepulciano D'Abruzzo Masterclass </h3>
      <h6> Four Seasons Las Vegas - February 1, 2023 </h6>
        {% include gallery id='gallery_abruzzo' caption='I was invited to an educational tasting of the Abruzzo wine region.' %}
  <hr>
  <h3> Tour of Resort Renovation </h3>
      <h6> Kailua Kona, Hawaii - December 15, 2022 </h6>
        {% include gallery id='gallery_HItour' caption='I got a special tour of the renovation site of an upscale Hawaiian resort.' %}
  <hr>
  <h3> Talkshow Tuesdays with Dr. Mana </h3>
      <h6> KUNV Radio - Fall 2022 </h6>
        {% include gallery id='gallery_KUNV' caption='I was a radio host for a two-hour session every week on KUNV radio.' %}
  <hr>
  <h3> The UNLV Makerspace </h3>
        {% include gallery id='gallery_makerspace' caption='I enjoy designing and printing stickers and 3D objects.' %}
  <hr>
  <h3> Rebel Grand Slam 2022 </h3>
      <h6> University of Nevada, Las Vegas - November 3, 2022 </h6>
        {% include gallery id='gallery_RGS22' caption='I gave a three-minute research presentation and reached the semi-finals of the competition.' %}
  <hr>
  <h3> Global Gaming Expo 2022 </h3>
      <h6> The Venetian - October 13, 2022 </h6>
        {% include gallery id='gallery_g2e22' caption='I attended G2E to learn about new gaming technologies.' %}
  <hr>
    <h3> M.E.N.U.S. 2022 </h3>
      <h6> Sahara Hotel & Casino - October 7, 2022 </h6>
        {% include gallery id='gallery_menus22' caption='Epicurean always puts on a great event.' %}
  <hr>  
    <h3> Bordeaux & Germany Student Wine Tasting </h3>
      <h6> UNLV - October 6, 2022 </h6>
        {% include gallery id='gallery_unlvtasting' caption='I helped organize and manage a Bordeaux and German wine tasting for UNLV students' %}
  <hr>
    <h3> UNLV Soccer Club Highlights </h3>
      <h6> UNLV - Fall 2022 & Spring 2023 </h6>
        {% include gallery id='gallery_soccerclub' caption='I am the founder and president of the UNLV Soccer Club, a student organization that builds community around soccer.' %}
  <hr>  
    <h3> 25th Anniversary Educational Taste of Excellence </h3>
      <h6> Westgate Resort & Casino - March 19, 2022 </h6>
        {% include gallery id='gallery_babaevent' caption='I managed 30 student workers at a wine event of 1000 attendees.' %}
  <hr>
    <h3> Conference on Statistical Practice </h3>
      <h6> Sacramento, California - February 2020 </h6>
        {% include gallery id='gallery_CSP2020' %}
  <hr>
    <h3> Various RIMS Student Chapter Meetings </h3>
      <h6> Las Vegas, Nevada - Fall 2019 & Spring 2020 </h6>
        {% include gallery id='gallery_RIMS' caption='I served as the president of the Student Chapter of RIMS from 2019-2020.' %}
  <hr>
    <h3> Risk & Insurance Management Society Christmas Gala </h3>
      <h6> Las Vegas, Nevada - December 2019 </h6>
        {% include gallery id='gallery_RIMSgala' caption='I helped organize a gala for 220 attendees from the insurance industry.' %}
 
</html>
