---
author_profile: false

gallery_babaevent:
  - image_path: gallery/assets/images/wineevent1.jpg
  - image_path: gallery/assets/images/wineevent2.jpg
  - image_path: gallery/assets/images/wineevent3.jpg
gallery_CSP2020:
  - image_path: gallery/assets/images/CSPpic1.jpg
  - image_path: gallery/assets/images/CSPpic2.jpg
  - image_path: gallery/assets/images/CSPpic3.jpg
---

<html>
  <head>
    <style>
      h1 {text-align: center;}
      h3 {text-align: center;}
      h6 {text-align: center;}
    </style>
  </head>
  <h1> Gallery </h1>
    <h3> 25th Anniversary Educational Taste of Excellence </h3>
      <h6> Westgate Resort & Casino - March 19, 2022 </h6>
  {% include gallery id='gallery_babaevent' caption='I managed 30 student workers at a wine event of 1000 attendees.' %}
  <hr>
    <h3> Conference on Statistical Practice </h3>
      <h6> Sacramento, California - February 2020 </h6>
  {% include gallery id='gallery_CSP2020' %}
</html>
