---
layout: post
title: Blog 1 - Breda
category: EUblog

gallery_blog1_1:
  - image_path: EUblog/images/blog1_1.jpg
  - image_path: EUblog/images/blog1_2.jpg
  - image_path: EUblog/images/blog1_3.jpg
gallery_blog1_2:
  - image_path: EUblog/images/blog1_4.jpg
  - image_path: EUblog/images/blog1_5.jpg
  - image_path: EUblog/images/blog1_6.jpg
gallery_blog1_3:
  - image_path: EUblog/images/blog1_7.jpg
  - image_path: EUblog/images/blog1_8.jpg
  - image_path: EUblog/images/blog1_9.jpg
---

<html>
<body>
<div style="margin-left:20px;margin-right:20px">
<center><h1> Belonging in Breda </h1></center> 
  
<p>What a wonderful experience I had in Breda. What initially was going to be a short trip to visit Marlie and her family before heading to Italy for my class, turned into such an amazing opportunity to learn about the Breda University of Applied Sciences (BuaS), meet awesome humans, attend a research conference, tour the labs, and interact with the faculty and students. </p> 

<p>One of the things that impressed me about the school was the camaraderie between the faculty and the fantastic environment of the school. Many organizations talk a lot about their efforts to create a great organizational culture, and I never really bought into it. Maybe it’s because I never really felt a sense of belonging anywhere that I went. But with BuaS, it was different. Maybe it was the hospitality that I received or maybe it was the air… but I felt almost felt a sense of belonging there. </p> 

{% include gallery id='gallery_blog1_1' caption='Some of the awesome people that I met.' %}

<p>Everyone that I met was awesome, but one of the coolest people that I met at BuaS (completely by coincidence) was Jeroen, who had a lot to say about energies and life philosophies. In fact, we chatted for a combined 8 hours of my time at BuaS. But we both agreed that maybe my energy found resonance with the energy at BuaS. I was so happy to wander around the campus, meeting different people and learning about the innovating things that they were doing. </p> 

  {% include gallery id='gallery_blog1_2' caption='I was able to tour the research labs.' %}
  
<p>I was able to tour the research labs of the university too. They have the number one game development program in Europe, where they are constantly developing new technologies where they are pushing the boundaries of video games and finding new applications for artificial intelligence. I also met a fellow NC State alumnus in Ondrej Mitas, who is a principal researcher in the physiological research center at BuaS. They are doing really cool stuff that is really similar to what I have done with the sleep apnea project as well as the golf biometric data. </p>

  {% include gallery id='gallery_blog1_3' caption='Lab day with data science students.' %}
  
<p>And finally, on the last day, I got to connect participate in the lab day of the Applied Data Science and AI program that was just created at BuaS. The university believes in a small-group-focused means of teaching data science, where students work in groups of 5 students and learn data science by working through a real-world problem. This is also in line with my current research in teaching data analytics to students who don’t know anything about math or statistics. I was able to actually help with the instruction of the class, as some of the students had really technical issues that I could work them through. It was so fun being able to share my knowledge with the students and connect with them. </p>

<p>On my last day when I had to leave Breda, I woke up and proudly put on my BuaS hoodie and went to the train station. I was actually sad to think that I wasn’t getting up and headed to the university. I can’t wait for the next time I can return. </p>

</div>
</body>
</html> 
