Travel Blog 3 - Torino

---
layout: post
title: Blog 3 - Torino
category: EUblog

gallery_blog3_1:
  - image_path: EUblog/images/blog3_1.jpg
  - image_path: EUblog/images/blog3_2.jpg
  - image_path: EUblog/images/blog3_3.jpg
gallery_blog3_2:
  - image_path: EUblog/images/blog3_4.jpg
  - image_path: EUblog/images/blog3_5.jpg
  - image_path: EUblog/images/blog3_6.jpg
---

<div style="margin-left:20px;margin-right:20px">

<center><h2> Totally Torino </h2></center>

<p>Our next stop would be Torino, where I found friends in the most unlikely of places. Well, for me the places weren’t unlikely… but surely for the masses. </p>

<p>When I was living in Spain, I would always go to a Moroccan Barber. They do a fantastic job and do it for a super bargain. So during the walking tour of the city, I asked the tour guide where the ghetto was in the city, so I could go and find a nice barber shop. </p> 

<p>When I went to the plaza he told me to go, I found a young Moroccan guy named Ismael, who I started up a conversation with. When I finally asked him where I could find a Moroccan barber shop, he hopped on his bike and told me to follow him. We went about half a mile, twisting and turning through the streets of Torino, until we get to a place that looked like it was closed. All of a sudden, Ismael lifts up the shutter and ushers me in. </p> 

<p>Inside, I found about 10 Moroccan met in about 150 square feet, blasting Arabic music and drinking tea. The man who cut my hair had only been in Italy 3 months and barely even spoke a word of Italian… But what a fantastic job he ended up doing. </p> 

<p>Over the course of the hour that it took him to leave me a masterpiece of a haircut, we laughed and joked and listened to music from all over the world. And not just with him, everyone else that was running in and out of the chaotic barber shop joined in too. When the cut was over, I knew most of the people in the barber shop. I had a great experience. Better than in the US even. </p>

{% include gallery id='gallery_blog3_1' caption='Moroccan memories.' %}

<p>After that was over, I went back and thanked Ismael, who invited me to have some Moroccan mint tea with him. I sat with him and his friends for about an hour, just joking and laughing until I went back to the American box that was our hotel. </p>

<p>The other notable part of the trip was the tour of Lavazza that we did. Coffee has always been a big passion of mine, and so for me it was SUCH an interesting tour. The tour and presentation was led by Michele, who was extremely knowledgable about all things coffee. He answered SO many questions of mine and even left us with a little gift at the end of the tour. </p>

  {% include gallery id='gallery_blog3_2' %}
  
</div>
