---
layout: post
title: Blog 9 - Bordeaux
category: EUblog

gallery_blog9_1:
  - image_path: EUblog/images/blog9_1.jpg
  - image_path: EUblog/images/blog9_2.jpg
  - image_path: EUblog/images/blog9_3.jpg

gallery_blog9_2:
  - image_path: EUblog/images/blog9_4.jpg
  - image_path: EUblog/images/blog9_5.jpg
  - image_path: EUblog/images/blog9_6.jpg
---

<div style="margin-left:20px;margin-right:20px">

<center><h2> Grapes Everywhere </h2></center>

<p>I decided to head up to Bordeaux for a few days to hang out with my dad. The thing about Bordeaux is that it is THE city for wine. I mean, as you fly in if you look out the window you will see that vineyards hug the city all the way around and as far as you can see. Plus, when I this particular weekend was the Wine Festival of Bordeaux, so they entire industy was buzzing with wine enthusiast from all over. And the coolest thing is going with my dad, who know so much about Bordeaux wines. </p>

<p>The first stop on our trip was a tour of a Grand Cru Classeé winery, Chateaux Malartic-Lagraviere, in the Graves Region. Grand Cru Classeé is the highest designation of wines in Bordeaux. There are only 6 wineries in that particular region that have this classification. We had a fantastic tour of the winery and had a great chat with the business director of the winery. It was one of the most beautiful wineries I have ever seen, and believe me, I have seen more than I would like to admit LOL. </p>

<p>During the tasting, one of the really interesting things was that we actually tasted the red wine before the white wine. In general, this is frowned upon, but because of the unique characteristics of the white wine they produce, the red would have tasted completely different after tasting the white. I ended up spilling the wine all over the tasting table, which is extremely embarassing considering the level of winery that we were at (oops). But it was a great experience and a real privilege to have even gotten a tour of the winery. </p>

{% include gallery id='gallery_blog9_1' %}

<p>We also went to Arcachon, which is a coastal town on the Atlantic. The attraction, apart from the beautiful beaches, is a huge sand dune that lies right between the ocean and the forest. It is really a spectacular creation of nature and in my opinion one of the wonders of the world. I had a fantastic time throwing myself off the edges of the dune and landing in the soft sand. </p>

{% include gallery id='gallery_blog9_2' %}

</div>
